<% layout("layouts/boilerplate") %>
<div class="container w-50 bg-body-secondary rounded-1 px-3 py-2 ">
    <h1>Login to YelpCamp</h1>
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
        </div>
        <div class="mb-3 text-center ">
            <button type="submit" class="btn btn-primary ">Log in </button>
        </div>
    </form>
</div>