<% layout("layouts/boilerplate") %>
<div class="row container w-100 d-flex justify-content-center align-items-center  ">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <p>Kuch toh Problem hua aur uska naam hai </p>
            <h3><%= err.name %></h3>
            <p><%= err.stack %></p>
            <hr>
            <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
        </div>
    </div>
</div>